<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.temporary-exception.files.absolute-paths</key>
	<array>
		<string>/private/var/run/docker.sock</string>
		<string>/var/run/docker.sock</string>
	</array>
	<key>com.apple.security.temporary-exception.processes</key>
	<array>
		<string>/usr/local/bin/docker</string>
		<string>/opt/homebrew/bin/docker</string>
		<string>/Applications/Docker.app/Contents/Resources/bin/docker</string>
	</array>
</dict>
</plist>
