<%# dashboard/dashboard_menu.ejs %>

    <%- include('../temp', { title: 'Next Metal - Landing' , description: 'Description' , body: ` <div class="section">
        <div class="section">
            <h2>Dashboard</h2>
            <button class="new-btn" onclick="showSection('wallet')">Account</button>
            <button class="new-btn" onclick="showSection('account')">Password</button>
        </div>




        `
        }) %>