<%# pages/landing.ejs %>

<%- include('../temp', { 
    title: 'Next Metal - Landing', 
    description: 'Description', 
    body: `

    <div id="flow-root">
        <main class="center-monocolumn">
            <h1>Dashboard</h1>
            <br>

            
        </main>
    </div>
    ` 
}) %>
