<%# pages/hosting.ejs %>

<%- include('../layout', { 
    title: 'Next Metal - Hosting', 
    description: 'Description', 
    body: `

    <main class="center-monocolumn">
        <div class="line"></div>
        <h1>Hosting</h1>
        <p>Multi-platform, easy-to-use client. Please install Docker and ensure it is running. You can select what containers you want to run on your computer. We highly recommend you run one or two containers and add more containers later to increase profitability.</p>
        <br>
        <!-- File Search Section -->
        <div class="bordered-section">
            <div class="section-title">My Github</div>
            <div class="content-min">
                <select class="git-provider-dropdown">
                    <option value="github">GitHub</option>
                    <!-- Add more providers like GitLab, Bitbucket -->
                </select>
                <input type="text" placeholder="Search" class="git-namespace-input">
                <button>Search</button>
            </div>
        </div>
        <br>

        <!-- Deploy Upload Section -->
        <div class="bordered-section">
            <div class="section-title">My Projects</div>
                <div class="content-min-3">
                    <div class="content-min-card">
                        <div class="content-min-card-title">
                            <h3>Acorn Web Tree House Garden Hotel</h3>
                        </div>
                        <div class="content-min-card-info">
                            <p>Live</p>
                            <p>Private</p>
                            <p>Last updated: 28 days ago</p>
                            <button>Deploy</button>
                            <button>Delete</button>
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="content-min-card-title">
                            <h3>Acorn Web Tree House Garden Hotel</h3>
                        </div>
                        <div class="content-min-card-info">
                            <p>Live</p>
                            <p>Private</p>
                            <p>Last updated: 28 days ago</p>
                            <button>Deploy</button>
                            <button>Delete</button>
                        </div>
                    </div>
                    
                    <div class="content-min-card">
                        <div class="content-min-card-title">
                            <h3>Acorn Web Tree House Garden Hotel</h3>
                        </div>
                        <div class="content-min-card-info">
                            <p>Live</p>
                            <p>Private</p>
                            <p>Last updated: 28 days ago</p>
                            <button>Deploy</button>
                            <button>Delete</button>
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="content-min-card-title">
                            <h3>Acorn Web Tree House Garden Hotel</h3>
                        </div>
                        <div class="content-min-card-info">
                            <p>Live</p>
                            <p>Private</p>
                            <p>Last updated: 28 days ago</p>
                            <button>Deploy</button>
                            <button>Delete</button>
                        </div>
                    </div>

                    <div class="content-min-card">
                        <div class="content-min-card-title">
                            <h3>Acorn Web Tree House Garden Hotel</h3>
                        </div>
                        <div class="content-min-card-info">
                            <p>Live</p>
                            <p>Private</p>
                            <p>Last updated: 28 days ago</p>
                            <button>Deploy</button>
                            <button>Delete</button>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </main>

    `
}) %>
    