<%# pages/temp.ejs %>

<%- include('../layout', { 
    title: 'Next Metal - Press', 
    description: 'Description',
    body: `
    
    <main class="center-monocolumn">
        
    </main>
    
    `
}) %>
