<%# pages/quick-start.ejs %>

<%- include('../layout', {
    title: 'Next Metal - Quick Start',
    description: ' ',
    body: `

    <main class="center-monocolumn">
        <h1>Quick Start</h1>
        <p>Multi-platform easy-to-use client. Please install Docker and make sure it is running.</p>
        <br>
        <a href="#"><img src="https://placehold.co/640x150.png" width="640" height="150" alt="new"></a>
        <p>Multi-platform easy-to-use client. Please install Docker and make sure it is running.</p>
        <p>Multi-platform easy-to-use client. Please install DocMulti-platform easy-to-use client. Please install DocMulti-platform easy-to-use client. Please install DocMulti-platform easy-to-use client. Please install DocMulti-platform easy-to-use client. Please install Docker and make sure it is running.</p>
        <p>Multi-platform easy-to-use client. Please install Docker and make sure it is running.</p>
        <p>Multi-platform easy-to-use client. Please install Docker and make sure it is running.</p>

    </main>
    
    `
}) %>