<%# index.ejs %>

    <!DOCTYPE html>
    <html lang="en">

    <%- include('partials/head') %>

        <body class="bp5-dark">
            <%- include('partials/header') %>

                <main class="center-monocolumn">
                    <section class="hero">
                        <div class="shape">
                            <h1 class="metal-mania black">Next Metal</h1>
                            <h3 class="black">Smart-contract everything</h3>
                            <h3 class="black">Infrastructure, AI models, Agents</h3>
                        </div>
                        <!-- <a href="/beta" class="metal-btn">Get Started</a> -->
                    </section>

                    <!-- Logo Carousel Section -->
                    <section class="partners-carousel-section">
                        <div class="fade fade-left"></div>
                        <div class="fade fade-right"></div>
                        <div class="carousel-track">
                            <div class="carousel-wrapper">
                                <div class="carousel-slide">
                                    <div class="partners"><img src="/images/carousel/gold.svg" alt="Logo 1"></div>
                                    <div class="partners"><img src="/images/carousel/silver.svg" alt="Logo 2"></div>
                                    <div class="partners"><img src="/images/carousel/quicksilver.svg" alt="Logo 3">
                                    </div>
                                    <div class="partners"><img src="/images/carousel/copper.svg" alt="Logo 4"></div>
                                    <div class="partners"><img src="/images/carousel/iron.svg" alt="Logo 5"></div>
                                    <div class="partners"><img src="/images/carousel/tin.svg" alt="Logo 6"></div>
                                    <div class="partners"><img src="/images/carousel/lead.svg" alt="Logo 7"></div>
                                    <div class="partners"><img src="/images/carousel/gold.svg" alt="Logo 1"></div>
                                    <div class="partners"><img src="/images/carousel/silver.svg" alt="Logo 2"></div>
                                    <div class="partners"><img src="/images/carousel/quicksilver.svg" alt="Logo 3">
                                    </div>
                                    <div class="partners"><img src="/images/carousel/copper.svg" alt="Logo 4"></div>
                                    <div class="partners"><img src="/images/carousel/iron.svg" alt="Logo 5"></div>
                                    <div class="partners"><img src="/images/carousel/tin.svg" alt="Logo 6"></div>
                                    <div class="partners"><img src="/images/carousel/lead.svg" alt="Logo 7"></div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="why-nextmetal">
                        <div class="text-wrap">
                            <h1 class="metal-mania">Why Next Metal?</h1>
                            <p>Next Metal is democratizing AI by fusing it with secure, blockchain-powered infrastructure.
                                Any PC/GPU can join the network, any developer can build on it. Join us in building a future where AI is accessible, decentralized, and owned by the
                                community.</p>
                            <h2 class="metal-mania">Earn $MET</h2>
                            <p>By connecting your GPU or running Docker containers,
                                you can earn $MET tokens while contributing to the AI ecosystem.</p>
                        </div>
                    </section>


                    <section class="features">
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="/images/m.svg" alt="m">
                                </div>
                                <div class="card-back">
                                    <p class="metal-mania">EARN $MET</p><br>
                                    <p class="metal-mania">Connect Your GPU</p>
                                    <!-- <a href="#"><button class="metal-btn">Get Started</button></a> -->
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="/images/e.svg" alt="e">
                                </div>
                                <div class="card-back">
                                    <p class="metal-mania">EARN $MET</p><br>
                                    <p class="metal-mania">Run docker containers</p>
                                    <!-- <a href="#"><button class="metal-btn">Get Started</button></a> -->
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-inner">
                                <div class="card-front">
                                    <img src="/images/t.svg" alt="t">
                                </div>
                                <div class="card-back">
                                    <p class="metal-mania">EARN $MET</p><br>
                                    <p class="metal-mania">Host a llama model</p>
                                    <!-- <a href="#"><button class="metal-btn">Get Started</button></a> -->
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="testimonials">

                        <h2 class="metal-mania">Trusted by</h2>
                        <br>
                        <div class="features">
                            <div class="testimonials-card testimonial-item">
                                <img src="/images/party.jpg" alt="Client photo">
                                <p>“By the end of 2025, more people would run local AI models, which makes NextMetal
                                    an
                                    essential tool for democratizing AI.”</p>
                                <small>— Doi Kim., AI Startup Founder</small>
                            </div>
                            <div class="testimonials-card testimonial-item">
                                <img src="/images/party.jpg" alt="Client photo">
                                <p>“Simple as rent out your GPU, own AI models and agents, collectively build
                                    distilled
                                    AI.”</p>
                                <small>— Hyo Kim., Crypto OG</small>
                            </div>
                            <div class="testimonials-card testimonial-item">
                                <img src="/images/party.jpg" alt="Client photo">
                                <p>"Next Metal is the future of AI. It's a game-changer for developers."</p>
                                <small>— HK Lee., Software developer</small>
                            </div>
                            <div class="testimonials-card testimonial-item">
                                <img src="/images/party.jpg" alt="Client photo">
                                <p>"Next Metal allows to build dapp that directly owns infrastructure."</p>
                                <small>— Yong Kim., Blockchain developer</small>
                            </div>
                        </div>
                    </section>

                    <%- include('partials/footer') %>
                </main>
        </body>

    </html>