<%# layout.ejs %>

    <!DOCTYPE html>
    <html lang="en">

    <%- include('partials/head') %>
        <body class="bp5-dark">
                <%- include('partials/body') %>
        </body>
    </html>