<%# partials/footer.ejs %>

<!-- Footer -->
<div class="footer">
    <hr>
    <h4><a href="#">Footer1</a> · <a href="#">Footer2</a> · <a href="#">Footer3</a></h4><br>
    <h4>&copy; All rights reserved.</h4>
</div>
