<%# // partials/header.ejs %>
<!-- Message Section -->
<div class="header-section">
    <div class="header-item">
        <h2>
            <a href="/">Item 1</a> ·
            <a href="/">Item 2</a>
        </h2>
    </div>
    <div class="header-logo">
        <!-- Logo and Header -->
        <a href="/"><img width="70px" src="/images/logo.svg" alt="Acorn SH Logo"></a>
    </div>
    <div class="header-item">
        <h2>
            <a href="/">Item 1</a> ·
            <a href="/">Item 2</a>
        </h2>
    </div>
</div>
