<%# // partials/header.ejs %>
<!-- Header Section -->

<div class="header-section">
    <div class="info-item">
        <!-- <a href="/download-page">download metal</a><br>macOS, Windows, Linux -->
    </div>
    <div class="logo">
        <a href="/"><img src="/images/nextmetal.svg" alt="Next Metal"></a>
    </div>
    <div class="info-item">
        <!-- <% if (user) { %>
            <a href="/dashboard">my account</a> · <a href="/auth/logout">logout</a>
            <br>members only
        <% } else { %>
            <a href="/members">log in/sign up</a><br>join the waitlist
        <% } %> -->
    </div>
</div>

<div class="links-section">
    <a href="/">Home</a> ·
    <a href="/vision#section1">Vision</a> ·
    <a href="/beta">AI Chat</a> ·
    <a href="/careers">Careers</a> ·
    <a href="https://x.com/nextmetalorg" target="_blank">X</a>
</div>