<%# // partials/main-column.ejs %>

<!-- Left Column -->
<div class="center-column">
    <div class="focus-section">
        <!-- Main Section -->
        <h1>Next Metal</h1>
    </div>

</div>

<!-- <img width="56" height="11" src="/images/soon.gif" alt="Coming Soon"> -->