<%# partials/dashboard.ejs %>

<!-- Footer -->
<div class="stats-section">
    <button class="simple-btn">Network</button>
    <div class="stats-item">Status: Online </div>
    <div class="stats-item">Inference: 10 tokens/s </div>
    <div class="stats-item">Online Nodes: 5/10</div>
    <div class="stats-item">CPU: 10 THz</div>
    <div class="stats-item">GPU: 10 PFlops</div>
    <div class="stats-item">HDD: 10 TB</div>
</div>

<script>

</script>