/* Dashboard */
.dashboard-section {
  font-size: x-small;
  color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto 5px;
  background-color: #ddd;
  z-index: 1000;
}

.dashboard-item {
  width: 20%;
  text-align: center;
  margin: 2px;
}

.dashboard-item:hover {
  font-weight: bold;
  color: var(--accent);
}