p {
    text-align: justify;
}

a {
    color: var(--accent);
}

a:hover {
    text-decoration: none;
}

.metal-mania {
    font-family: 'Metal Mania', cursive, sans-serif;
    color: var(--accent);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.footer {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}